@use './partials/mixin' as *;
@use './partials/vars' as *;

@import "node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
}